* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: #fff;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #ccc;
}

.logo {
  width: 180px;
}

.nav-left {
  display: flex;
  list-style-type: none;
}

.nav-left li {
  margin: 0 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}

.btn {
  background-color: #567b95;
  outline: none;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 0.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.65rem;
  font-weight: bold;
  margin-right: 0.5em;
}

.btn a {
  color: #ffe;
  text-transform: uppercase;
  text-decoration: none;
}

.article-footer .btn {
  padding: .6rem 6rem;
  color: #fff;
  font-size: .9rem;
  text-transform: uppercase;
}

.feature-image-container {
  width: 77%;
  margin: auto;
}

.article-title {
  width: 50%;
  line-height: 1.4;
  padding: 1.5rem;
  margin-left: 22%;
  font-weight: 600;
  font-style: italic;
  font-size: 2.3rem;
}

.feature-image-container img {
  width: 100%;
}

.caption {
  color: #333;
  line-height: 1.2;
  padding: 0.6rem 0;
  font-size: 1rem;
  width: 74%;
}

.caption span {
  font-size: 0.85rem;
  color: #555;
}

.main-article {
  margin: 0 auto;
}

article {
  margin: 1rem auto;
  font-size: 1.25rem;
  color: #333;
  line-height: 1.6;
}

article p {
  padding: 0.5rem 0;
}

.article-header,
.article-text {
  width: 620px;
  margin: 0 auto;
}

.article-info,
.article-info .share {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.article-header .author {
  font-size: .9rem;
  color: #000;
  font-weight: bold;
  padding: .5rem 0;
}

.article-header .author a {
  border-bottom: .5px dotted #000;
  cursor: pointer;
}

.article-header .date {
  font-size: .8rem;
}

.article-header .share {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.article-info .share li {
  margin-left: 1.5rem;
  cursor: pointer;
}

.article-info .share li.social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  border-radius: 50%;
  width: 1.6rem;
  height: 1.6rem;
  font-size: .9rem;
  font-weight: bold;
}

.article-text h3 {
  font-size: 1.25rem;
  padding: .8rem 0;
}

.article-video,
.article-image {
  width: 100%;
  margin-top: 2rem;
}

article .caption {
  width: 100%;
  margin-bottom: 1rem;
}

.article-image-md-container {
  width: 100%;
  margin: .8rem auto .5rem;
  max-width: 780px;
}

.article-image-md-container img {
  width: 100%;
}

.grid-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: .3rem;
  max-width: 60%;
  margin: 1rem auto;
}

.grid-card img,
.grid-card {
  max-width: 230px;
  font-size: .8rem;
  line-height: 1.75;
}

.grid-card p {
  padding: .3rem;
}

.grid-card-title {
  font-weight: 900;
  text-transform: uppercase;
}

.article-footer {
  width: 620px;
  margin: .5rem auto;
}

.article-footer .article-publishing-info,
.article-footer .article-publishing-info a {
  font-size: .75rem;
  color: #666;
}

.more-articles-section {
  width: 76%;
  margin: 4rem auto;
}

.more-articles-section {
  width: 76%;
  margin: 4rem auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: center;
}

.more-articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.more-articles-grid .section-title {
  grid-column: -1/1;

}